body {
  font-family: "tahoma";
  color: whitesmoke;
  background-color: black 
}

h1 {
  color: orangered;
  text-align: center;
}

h2 {
  color: orangered;
  
}

h3 {
  color: red;
  font-size: 1em
}

h4 {
  color: blue;
  font-size: 1em
}

h5 {
  color: white;
  font-size: 1em
}

h6 {
  color: orange;
  font-size: 1em
}

h7 {
  color: green;
  font-size: 1em
  font-family: "tahoma"
}

h8 {
  color: gold;
  font-size: 1em
}
